<launch>
	<node name="ar_pose" pkg="ar_pose" type="ar_multi" respawn="false">
		<param name="marker_pattern_list" type="string" value="$(find find_present_in_room)/marker/three_marker"/>
		<param name="threshold" type="int" value="100"/>
 		<remap from="/usb_cam/image_raw" to="/image_raw"/>
 		<remap from="/usb_cam/camera_info" to="/camera_info"/>
	</node>
	<!-- <node name="marker_ekf" pkg="visnav2013_exercise3" type="marker_ekf" /> -->
</launch>
